<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
<title>Quiz Papa</title>

<style>

body{
font-family:Arial;
background:#95F5A6;
text-align:center;
padding-top:80px;
}

select{
font-size:20px;
padding:10px;
margin:15px;
width:350px;
}

button{
font-size:22px;
padding:12px 30px;
margin-top:20px;
background:#70d5ff;
border:none;
border-radius:10px;
cursor:pointer;
}

</style>

</head>

<body>

<h1>Choisis ton quiz</h1>

<form method="post" action="/start">

<select id="matiere">
<option value="">Choisir une matière</option>

{% for matiere in matieres %}

<option value="{{ matiere }}">{{ matiere }}</option>

{% endfor %}

</select>

<br>

<select name="theme" id="theme">

<option value="">Choisir un thème</option>

</select>

<br>

<button type="submit">Commencer</button>

</form>

<script>

const matieres = {{ matieres | tojson }}

const matiereSelect = document.getElementById("matiere")
const themeSelect = document.getElementById("theme")

matiereSelect.addEventListener("change", function(){

let matiere = this.value

themeSelect.innerHTML = "<option value=''>Choisir un thème</option>"

if(matieres[matiere]){

matieres[matiere].forEach(function(theme){

let option = document.createElement("option")

option.value = theme
option.textContent = theme.replace(".txt","")

themeSelect.appendChild(option)

})

}

})

</script>

</body>

</html>